*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#dce5eb ;
    max-width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0 100px;
}
.box{
   background-color: #fff;
   max-width:400px ;
   min-height: 500px;
   padding: 20px 5px;
   margin: 30px auto;
   border-radius: 20px; 
   
}
 .center{
    background-image: url("/My\ files/");
    background-size: cover;
    background-position: center;
    width:350px;
    height: 350px;
    margin:0 auto;
    padding: 20px 10px;
    border-radius: 10px;
    
}
.center img{
    max-width: 100%;
}
.text_div{
    padding:25px 20px ;
}
.text_div p{
    padding: 20px 15px 25px;
    line-height: 23px;
    opacity: 0.6;
}

.text_div h2{
    line-height: 30px;
    font-size: 23px;
    padding-left: 13px;
}
h2,p{
    color: rgb(36, 37, 82);
    text-align: center;  
}